/*---------------CSS RESET---------------*/

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
  }
  
html, body {
    height: 100%;
  }
 
input, button, textarea, select {
    font: inherit;
  }

:root {
    --dark-blue: #1B748A;
    --light-blue: #5DC6DF;
    --hover: #9DEAFC;
}

/*---------------HEADER---------------*/

.title {
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: 3rem;
    color: var(--light-blue);
}

/*---------------MAIN---------------*/

body {
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--light-blue);
}

.cell {
    border: 1px solid var(--dark-blue);
    cursor: pointer;
    font-size: 2rem;
}

.cell:hover, .restart-btn:hover {
    background-color: var(--hover);
}

.btn-container {
    padding: 20px;
}

.restart-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}
 
